{% extends "base.html.twig" %}
{% block body %}
<h1 class="Titreaccueil">Sign in </h1>
<form action = "{{ path('security_login') }}" method="post" >
<div class="form-group">
<input placeholder="Adresse Email ..."  name="_username" type="text" class="form-control">
<input placeholder="Mot de passe ..."  name="_password" type="password" class="form-control">
</div>
<div class="form-group">
<button type="submit" class="btn btn-success">Login </button> 
<a href="{{ path('security_registration') }}"><input class="btn btn-success" type="button" value="Registration"></a>
</form>


{% endblock %}