{% extends "base.html.twig" %}
{% block body %}
<h1 class="Titreaccueil"> Inscrisption sur le site </h1>
{{form_start(form)}}
{{form_row(form.Username, {'label' : 'Nom d\'utilisateur','attr' : {'placeholder':'Nom d\'utilisateur'}})}}
{{form_row(form.email ,{'label' : 'Adresse mail', 'attr' :{'placeholder': 'Adresse email ...'}})}}
{{form_row(form.password,{'label': 'Mot de passe', 'attr' :{'placeholder':'Mot de passe !'}})}}
{{form_row(form.confirm_password,{'label': 'Confirmation du mot de passe','attr':{'placeholder':'Répetez votre mot de passe'}})}}
<button type="submit" class="btn btn-success">Inscription</button>
{{form_end(form)}}
{% endblock %}
