{% block body %}
{% if form is defined %}
{{ form_start(form) }}
    {{ form_widget(form) }}    
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
 {{ form_end(form) }}
{% endif %}
{% endblock %}
