{% extends "base.html.twig" %}
{% block body %}
<title>{% block title %}Customers{% endblock %}</title>
 <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Mail</th>
                <th>Tel</th>
                <th>Addresses</th>
                <th>City</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in users %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.firstName }}</td>
                <td>{{ customer.lastName }}</td>
                <td>{{ customer.mail }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.city }}</td>
                <td>{{ customer.country }}</td>
                <td>
                    <a href="{{ path('customer_show', {'id': customer.id}) }}">show</a>
                    <a href="{{ path('customer_edit', {'id': customer.id}) }}">edit</a>
                    <a href="{{ path('product_customer', {'id': customer.id}) }}">Voir les produit</a>                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
