{% extends 'base.html.twig' %}

{% block title %}Edit Customer{% endblock %}

{% block body %}
    <h1>Edit Customer</h1>

    {{ include('customers/_form.html.twig', {'button_label': 'Update'}) }}

    
    <a href="{{ path('display') }}">back to list</a>
    
{% endblock %}
