{% extends 'base.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block body %}
    <h1>Create new Customer</h1>  

    {{ include('customers/_form.html.twig') }}

    <a href="{{ path('display') }}">back to list</a>
{% endblock %}
