{% extends "base.html.twig" %}
{% block body %}
 <table class="table">
        <thead>
            <tr>
                <th>Nom produit</th>
                <th>Prix</th>                
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>            
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<a href="{{ path('display') }}">back to list</a>
{% endblock %}