.accueil{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 
.Titreaccueil{
    font-size: 30px;
    text-align: center;
}
.btncentre{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.edit{
    color: white;
}