{{ form_start(form) }}
    <div class="container col-4 mt-4">
        <div class="row justify-content-between pl-3 pr-3">
            {{ form_row(form.product.name) }}
            {{ form_row(form.product.price) }}
        </div>
        {{ form_row(form.product.description) }}
        {{ form_row(form.name) }}
        {{ form_row(form.product.supplier) }}
        {{ form_row(form.product.webSiteSupplier) }}
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    </div>
    
{{ form_end(form) }}
