{{form_start(form)}}
    <div class="container p-4">
        {{form_row(form.q)}}
        <div class="row justify-content-between pl-3 pr-3">
            {{form_row(form.minPrice)}}
            {{form_row(form.maxPrice)}}
        </div>
        {{form_row(form.supplier)}}
        <button type="submit" class="btn btn-outline-success">Filter</button>
    </div>
{{form_end(form)}}