{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %} 

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1 class="ml-4 mt-4">Edit Product</h1>

    <div class="container col-8 mt-4">
        {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <div class="row ml-4">
        <a class="btn btn-outline-success mr-3" href="{{ path('product_index') }}">< back to list</a>
        {{ include('product/_delete_form.html.twig') }}
    </div>
    
{% endblock %}
