{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="row ml-3 mt-4">
        <div class="ml-4"><h1>Product-list</h1></div>
        <div class="pt-1 ml-4"> {% if is_granted('ROLE_Admin') %}<a class="btn btn-outline-success" href={{ path('product_new') }}>Create new</a>{% endif %}</div>
    </div>

    <div class="row">
        <div class="col-md-3 ml-3">
            {% include "product/_search.html.twig" with {form: search} only%}
        </div>

        <section class="container col-8 ml-4 ">
            <div class="row">
                {% for product in products %}
                    <product class="col-4">
                        <div class="card mb-3 mt-3">
                            <h3 class="card-header">{{product.getName()}}</h3>

                            <div class="card-body">
                                <p class="card-text">{{product.getDescription()}}</p>
                                <p class="card-text">{{product.getWebSiteSupplier()}}</p>
                                <div>
                                    {{include('product/tag.html.twig', {'tags': tags, 'productId': product.id})}}
                                </div>
                                <a class="btn btn-secondary" href={{ path('product_show', {'id': product.id}) }}>More</a>
                                {% if is_granted('ROLE_Admin') %}<a class="btn btn-secondary" href={{ path('product_edit', {'id': product.id}) }}>edit</a>{% endif %}
                            </div>
                            <div class="card-footer text-muted">
                                <div class="row">
                                    <p class="col-6 text-left mt-3">{{product.getSupplier()}}</p>
                                    <p class="col-6 text-right mt-3">{{product.getPrice()}} €</p>
                                </div>
                            </div>
                        </div>
                    </product>
                {% endfor %}
            </div>
            <div class="container col-5">
                {{ knp_pagination_render(products) }}
            </div>
        </section>
    </div>
{% endblock %}
