{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %} 

{% block body %}
    <h1 class="ml-4 mt-4">Create new Product</h1>

    <div class="container col-8 mt-4">
        {{ include('product/_form.html.twig') }}
    </div>

    <div class="ml-4">
        <a class="btn btn-outline-success mr-3" href="{{ path('product_index') }}">< back to list</a>
    </div>
{% endblock %}
