{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1 class="ml-4 mt-4">Product</h1>
    
    <div class="container col-3">
        <div class="card mb-3 mt-3">
            <h3 class="card-header">{{product.name}}</h3>

            <div class="card-body">
                <p class="card-text">{{product.description}}</p>
                <p class="card-text">{{product.webSiteSupplier}}</p>
                <div>
                    <span class="badge badge-light mb-3">{{tag}}</span>
                </div>
                {% if is_granted('ROLE_Admin') %}<a class="btn btn-secondary" href={{path('product_edit', {'id': product.id})}}>edit</a>{% endif %}
            </div>
            <div class="card-footer text-muted">
                <div class="row">
                    <p class="col-6 text-left mt-3">{{product.supplier}}</p>
                    <p class="col-6 text-right mt-3">{{product.price}} €</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row ml-4">
        <a class="btn btn-outline-success mr-3" href="{{ path('product_index') }}">< back to list</a>
        {% if is_granted('ROLE_Admin') %}{{ include('product/_delete_form.html.twig') }}{% endif %}
    </div>
{% endblock %}
