{{form_start(form)}}
    <div class="container p-4">
        {{form_row(form.color)}}
        <div class="row justify-content-between pl-3 pr-3">
            {{form_row(form.quantityMin)}}
            {{form_row(form.quantityMax)}}
        </div>
        <button type="submit" class="btn btn-outline-success">Filter</button>
    </div>
{{form_end(form)}}