{% extends 'base.html.twig' %}

{% block title %}SaleProduct index{% endblock %}

{% block body %}

    <div class="row ml-4 mt-4">
        <div class="pt-1"><h1>Sale-list</h1></div>
    </div>

    <div class="row">
        <div class="col-md-3 ml-3">
            {% include "sale_product/_search.html.twig" with {form: search} only%}
        </div>

        <section class="container col-8 ml-4 ">
            <div class="row">
                {% for sale_product in sales %}
                    <product class="col-4">
                        <div class="card mb-3 mt-3">
                            <h3 class="card-header">{{sale_product.product.name}}</h3>

                            <div class="card-body">
                                <p class="card-text">Customer: {{sale_product.sale.customer.firstName}} {{sale_product.sale.customer.lastName}}</p>
                                <p class="card-text">Color: {{sale_product.color}}</p>
                                <div>
                                    {{include('product/tag.html.twig', {'tags': tags, 'productId': sale_product.product.id})}}
                                </div>
                                <a class="btn btn-secondary" href={{path('sale_product_show', {'id': sale_product.id})}}>More</a>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="row">
                                    <p class="col-6 text-left mt-3">Quantity: {{sale_product.quantity}}</p>
                                    <p class="col-6 text-right mt-3">{{sale_product.sale.amount}} €</p>
                                </div>
                            </div>
                        </div>
                    </product>
                {% endfor %}
            </div>
            <div class="container col-5">
                {{knp_pagination_render(sales)}}
            </div>
        </section>
    </div>
{% endblock %}
