{% extends 'base.html.twig' %}

{% block title %}SaleProduct index{% endblock %}

{% block body %}

    <div class="row ml-4 mt-4">
        <div class="pt-1"><h1>Sale-list</h1></div>
    </div>

    <section class="container col-3 ml-6 ">
        <product class="col-4">
            <div class="card mb-3 mt-3">
                <h3 class="card-header">{{sale_product.product.name}}</h3>

                <div class="card-body">
                    <p class="card-text">Customer: {{sale_product.sale.customer.firstName}} {{sale_product.sale.customer.lastName}}</p>
                    <p class="card-text">Color: {{sale_product.color}}</p>
                    <p class="card-text">Description: {{sale_product.product.description}}</p>
                    <p class="card-text">Supplier: {{sale_product.product.supplier}}</p>
                    <p class="card-text">WebSite: {{sale_product.product.webSiteSupplier}}</p>
                    <div>
                        <span class="badge badge-light mb-3">{{tag.name}}</span>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <div class="row">
                        <p class="col-6 text-left mt-3">Quantity: {{sale_product.quantity}}</p>
                        <p class="col-6 text-right mt-3">{{sale_product.sale.amount}} €</p>
                    </div>
                </div>
            </div>
        </product>
    </section>
    <div class="ml-4">
        <a class="btn btn-outline-success mr-3" href="{{ path('sale_product_index') }}">< back to list</a>
    </div>
{% endblock %}
