{% extends "base.html.twig" %}
{% block body %}

<h1 class="Titreaccueil">Bienvenue sur notre page de vente multi-sites </h1>

<a href="/"><img class="accueil" src="{{ asset('build/images/3582751.406caa30.jpg') }}" alt="logo"></a>
<a href="{{ path('security_login') }}"><input class="btncentre" type="button" value="Entrez"></a>
{% endblock %}