<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css"></link>
        <link rel="stylesheet" href="./asset/css/general.css"></link>        
        {{ encore_entry_link_tags('general') }}       
        {% block stylesheets %}{% endblock %}        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('accueil') }}">🏠</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if active == 'Product' %}active{% endif %}">
                        <a class="nav-link" href={{path('product_index')}}>Product</a>
                    </li>
                    {% if is_granted('ROLE_Admin') %}
                        <li class="nav-item {% if active == 'Sale' %}active{% endif %}">
                            <a class="nav-link" href={{path('sale_product_index')}}>Sale</a>
                        </li>
                        <li class="nav-item {% if active == 'Customer' %}active{% endif %}">
                            <a class="nav-link" href={{ path('display') }}>Customer</a>
                        </li>
                        <li class="nav-item {% if active == 'Customer_new' %}active{% endif %}">
                            <a class="nav-link" href={{ path('customer_new') }}>Customer_new</a>
                        </li>
                    {% endif %}    
                    {% if not app.user %}
                        <li class="nav-item {% if active == 'security_login' %}active{% endif %}">
                            <a class="nav-link" href={{ path('security_login') }}>Login</a>
                        </li>
                    {% else %}
                        <li class="nav-item {% if active == 'security_logout' %}active{% endif %}">
                            <a class="nav-link" href={{ path('security_logout') }}>Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
